body {
  margin: 0;
  text-align: center;
}

.main-container,.flight-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  width: 100%;
  margin-bottom: 32px;
  text-align: left;
}

.flight-list,
.flight-skeleton {
  width: 50%;
}

.flight-list {
  width: 40rem !important;
}

.MuiDivider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
